<!DOCTYPE html>
<html lang="en" ng-app="app" class="ng-scope">
<head>
	<link rel="icon" type="image/png" href="assets/img/favicon.png" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Community Humanity</title>
</head>
<body ng-controller="AppCtrl as appCtrl" class="ng-scope">
	<div class="wrapper">
		<header>
			<ul class="nav navbar-nav" ng-cloak ng-hide="authData">
				<li><button class="btn btn-danger" ng-click="auth.$authWithOAuthPopup('google')" ng-cloak><i class="fa fa-google fa-lg"></i>  Sign In with Google</button></li>
				<li><button class="btn btn-warning" ng-click="auth.$authWithOAuthPopup('twitter')" ng-cloak><i class="fa fa-twitter fa-lg"></i> Sign In with Twitter</button></li>
				<li><button class="btn btn-primary" ng-click="auth.$authWithOAuthPopup('facebook')" ng-cloak><i class="fa fa-facebook-official fa-lg"></i> Sign In with Facebook</button></li>
				<li id="profileImg" ng-cloak ng-show="authData">
					<img ng-cloak class="profileImg" ng-show="authData.google" ng-src="{{authData.google.cachedUserProfile.picture}}"><h4 ng-show="authData.google">Welcome {{authData.google.displayName}}!</h4>
					<img ng-cloak class="profileImg" ng-show="authData.twitter" ng-src="{{authData.twitter.cachedUserProfile.profile_image_url_https}}"><h4 ng-show="authData.twitter">Welcome {{authData.twitter.displayName}}!</h4>
					<img ng-cloak class="profileImg" ng-show="authData.facebook" ng-src="{{authData.facebook.cachedUserProfile.picture.data.url}}"><h4 ng-show="authData.facebook">Welcome {{authData.facebook.displayName}}!</h4>
				</li>
				<li><button ng-show="authData" style="position:absolute;top:10px;left;" class="btn btn-default btn-xs" ng-click="auth.$unauth()">Sign Out</button></li>
				<li><button ng-show="authData" class="btn btn-primary btn-lg" href="#/meditations">Who's Meditating?</button></li>
				<!--<li ng-cloak ng-show="authData"><a href="#/groups">Group Meditations</a></li>-->
			</ul>
				<div class="form-group">
				</div>
			</form>
			<form ng-cloak ng-show="authData" class="form-inline" role="form">
				<div class="form-group">
					<label for="email">Duration</label>
					<input type="number" class="form-control" ng-model="appCtrl.duration" placeholder="Estimated duration" />
				</div>
				<div class="form-group">
					<label for="location">Location</label>
					<input id="location" type="text" class="form-control" ng-model="appCtrl.location" placeholder="Where are you?" />
				</div>S
				<button type="submit" class="btn btn-success" ng-click="appCtrl.setMed()">Meditate</button>
			</form>
		</header>
		<div class="container">
			<div class="row">
				<div class="col-md-12" id="main" ng-view></div>
			</div>
		</div>
		<footer></footer>
	</div>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.2.3/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="app/app.module.js"></script>
	<script src="app/app.ctrls.js"></script>
</body>
</html>