<!doctype HTML>
<html lang="en" ng-app="app">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="assets/css/styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>SOIL</title>
</head>
<body ng-controller="AppCtrl as appCtrl">
	<div id="wrapper">
		<div id="northWrapper" class="wrapper">
		    <div id="nw" class="sides">
		        <button ng-hide="authData" class="btn btn-sm btn-primary" ng-click="auth.$authWithOAuthPopup('google')">Login</button>
		        <img ng-cloak ng-show="authData" ng-click="auth.$unauth()" src="{{authData.google.cachedUserProfile.picture}}?sz=50">
		    </div>
		    <div id="n" class="sides">
		        <input ng-show="authData" class="form-control" id="search" placeholder="Search" />
		    </div>
		    <div id="ne" class="sides">
		        <a href="#"><p><span class="glyphicon glyphicon-user"></span></p></a>
		    </div>
		</div>
		<div id="centerWrapper" class="wrapper noSidebar">
		    <div id="w" class="sides">
		    </div>
		    <div id="monad" ui-view></div>
		    <div id="e" class="sides">
		    </div>
		</div>
		<div id="southWrapper" class="wrapper">
		    <div id="sw" class="sides">
		        <a href="#"><p><span class="glyphicon glyphicon-plus"></span></p></a>
		    </div>
		    <div id="s" class="sides">
		    </div>
		    <div id="se" class="sides">
		        <a href="#"><p><span class="glyphicon glyphicon-plus"></span></p></a>
		    </div>
		</div>
	</div>
	<div class="modal fade" id="newLinkModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<form></form><div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Add Data</h4>
				</div>
				<div class="modal-body">
					<textarea class="form-control" ng-model="newData" placeholder="Data" required></textarea>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" ng-click="saveData(newData)">Save</button>
				</div></form>
			</div>
		</div>
	</div>
	<div class="modal fade" id="linksModal">
		<div class="modal-dialog">
			<div class="modal-content">
				</form><div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Manage Apps</h4>
				</div>
				<div class="modal-body">
					APPS
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
	<script src="assets/js/angular-ui-router.min.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.2.3/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="app/app.module.js"></script>
	<script src="app/app.ctrls.js"></script>
</body>
</html>