<!DOCTYPE html>
<html lang="en" ng-app="app" class="ng-scope">
<head>
	<link rel="icon" type="image/png" href="assets/img/favicon.png" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Community Humanity</title>
</head>
<body ng-controller="AppCtrl as appCtrl" class="ng-scope">
	<div class="wrapper">
		<div class="box">
				<div class="column col-sm-3" id="sidebar">
					<ul class="nav" style="margin-top:30px;">
						<li ng-hide="authData">
							<button class="btn btn-danger" ng-click="auth.$authWithOAuthPopup('google')"><i class="fa fa-google fa-lg"></i>  Sign In with Google</button><br><br>
							<button class="btn btn-warning" ng-click="auth.$authWithOAuthPopup('twitter')"><i class="fa fa-twitter fa-lg"></i> Sign In with Twitter</button><br><br>
							<button class="btn btn-primary" ng-click="auth.$authWithOAuthPopup('facebook')"><i class="fa fa-facebook-official fa-lg"></i> Sign In with Facebook</button>
						</li>
						<li ng-show="authData">
							<img class="profileImg" ng-show="authData.google" ng-src="{{authData.google.cachedUserProfile.picture}}">
							<img class="profileImg" ng-show="authData.twitter" ng-src="{{authData.twitter.cachedUserProfile.profile_image_url_https}}">
							<img class="profileImg" ng-show="authData.facebook" ng-src="{{authData.facebook.cachedUserProfile.picture.data.url}}">
						</li>
						<li ng-show="authData"><a ng-click="auth.$unauth()" href="">Sign Out</a></li>
						<li ng-show="authData"><a href="#/meditations">Who's Meditating</a></li>
						<li ng-show="authData"><a href="#/groups">Group Meditations</a></li>
					</ul>
					<form ng-show="authData" class="navbar-left" role="search">
						<div class="form-group">
							<textarea class="form-control" placeholder="Leave a comment"></textarea>
							<input type="number" class="form-control" placeholder="Estimated duration" />
						</div>
						<button type="submit" class="btn btn-success">Meditate</button>
					</form>
					<ul class="nav hidden-xs" id="sidebar-footer">
						<li>
							<a class="logo" href="#"><img src="assets/img/favicon.png" /></a>
							<a href="http://www.siddhanath.org/" target="_blank"><h3>Community Humanity</h3>Made with <i class="glyphicon glyphicon-heart-empty"></i> in Service of Humanity</a>
						</li>
					</ul>
				</div>
				<div class="column col-sm-9" id="main">
					<div class="padding">
						<div class="full col-sm-9" ng-view></div>
					</div>
				</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.2.3/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="app/app.module.js"></script>
	<script src="app/app.ctrls.js"></script>
</body>
</html>