<div class="container-fluid">
	<div class="row" ng-hide="authData">
		<div class="col-md-4"></div>
		<div class="col-md-4" style="text-align:center!important;">
			<a href="#" class="btn btn-lg btn-default" ng-click="auth.$authWithOAuthPopup('google')"><i class="fa fa-google fa-lg"></i> Sign In with Google</a><br><br>
			<a href="#" class="btn btn-lg btn-default" ng-click="auth.$authWithOAuthPopup('twitter')"><i class="fa fa-twitter fa-lg"></i> Sign In with Twitter</a><br><br>
			<a href="#" class="btn btn-lg btn-default" ng-click="auth.$authWithOAuthPopup('facebook')"><i class="fa fa-facebook-official fa-lg"></i> Sign In with Facebook</a>
		</div>
		<div class="col-md-4"></div>
	</div>
	<div class="row" ng-show="authData">
		<div class="col-md-3">
			<h1>people</h1>
			<img src=""><!-- AN IMAGE OF PEOPLE -->
			<p>A short description of why people are a pillar and then a list of reviews.</p>
		</div>
		<div class="col-md-3">
			<h1>places</h1>
			<img src=""><!-- AN IMAGE OF PLACES -->
			<p>A desciption of how we define a place and why it is a pillar.</p>
		</div>
		<div class="col-md-3">
			<h1>practices</h1>
			<img src=""><!-- AN IMAGE OF PRACTICES -->
			<p>A description of how we define a practice and why they are a pillar.</p>
		</div>
		<div class="col-md-3">
			<h1>practicality</h1>
			<img src=""><!-- AN IMAGE OF PRACTICALITY -->
			<p>A short description and a read more... link</p>
		</div>
	</div>
</div>