<div class="container-fluid">
	<div class="row">
		<div class="col-md-3"><h1>People</h1>
			<a href="#" class="btn btn-lg btn-default"><i class="fa fa-google fa-lg"></i> Sign In with Google</a><br><br>
			<a href="#" class="btn btn-lg btn-default"><i class="fa fa-twitter fa-lg"></i> Sign In with Twitter</a><br><br>
			<a href="#" class="btn btn-lg btn-default"><i class="fa fa-facebook-official fa-lg"></i> Sign In with Facebook</a>
		</div>
		<div class="col-md-3">Places</div>
		<div class="col-md-3">Practices</div>
		<div class="col-md-3">Practicality
			<ul>
				<li>Protection</li>
				<li>Privacy</li>
				<li>Peace</li>
				<li>Perseverance</li>
			</ul>
		</div>
	</div>
</div>