<div class="container-fluid">
	<div class="row" ng-show="authData">
		<div class="col-md-12"><h1>Dashboard</h1></div>
	</div>
	<div class="row" ng-hide="authData">
		<div class="col-md-12"><h1>70k project</h1></div>
		<img src=""><!-- AN IMAGE OF A MEDITATING WORLD OR A WORLD OF LIGHT OR SOMETHING -->
	</div>
	<div class="row" ng-hide="authData">
		<div class="col-md-3">
			<h2>people</h2>
			<img src=""><!-- AN IMAGE OF PEOPLE -->
			<p>A short description of why people are a pillar and then a list of reviews.</p>
		</div>
		<div class="col-md-3">
			<h2>places</h2>
			<img src=""><!-- AN IMAGE OF PLACES -->
			<p>A desciption of how we define a place and why it is a pillar.</p>
		</div>
		<div class="col-md-3">
			<h2>practices</h2>
			<img src=""><!-- AN IMAGE OF PRACTICES -->
			<p>A description of how we define a practice and why they are a pillar.</p>
		</div>
		<div class="col-md-3">
			<h2>practicality</h2>
			<img src=""><!-- AN IMAGE OF PRACTICALITY -->
			<p>A short description and a read more... link</p>
		</div>
	</div>
</div>