<div class="row">
	<div class="col-md-12">
		<h1>{{monad.title}}</h1><hr>
		<div class="row">
			<div class="col-md-4" ng-repeat="(name, connection) in model" ng-cloak>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><a href="#/{{name}}">{{name}}</a></h3>
					</div>
					<div class="panel-body">
						<p ng-repeat="(relName, relationship) in connection"><a href="#/{{relName}}">{{relName}}</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
