<div class="row">
	<div class="col-md-10">
		<h1>{{monad.test}}</h1><hr>
		<div class="row">
			<div class="col-md-3" ng-repeat="(name, connection) in monad.connections" ng-cloak>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><a href="#/{{name}}">{{name}}</a></h3>
					</div>
					<div class="panel-body">
						<p ng-repeat="(relName, relationship) in connection"><a href="#/{{relName}}">{{relName}}</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2">
		<form>
			<div style="text-align:center!important;">
				<h3>{{monad.title}}</h3>
				<input type="text" class="form-control" ng-model="newRelationship" placeholder="Relationship">
				<input type="text" class="form-control" ng-model="newConnection" placeholder="Connection">
			</div>
			<button type="submit" class="btn btn-primary btn-block" ng-click="makeConnection(newConnection, newRelationship)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
		</form>
	</div>
</div>
