#s .label-primary .glyphicon{
  font-size:11px;
}
#s .label-primary{
  font-size:11px;
  position:relative;
  right:15px;
  bottom:15px;
  padding:3px;
}
#s p{
  text-align:left!important;
}
#s a{
  margin:0 5px;
}
.wrapper{
  position:absolute;
}
#northWrapper{
  height:65px;
  top:0px;
  left:0px;
  right:0px;
}
#centerWrapper{
  top:65px;
  left:0px;
  right:0px;
  bottom:65px;
}
#southWrapper{
  height:65px;
  bottom:0px;
  left:0px;
  right:0px;
}
.sides p {
  position: relative;
  text-align: center;
  top: 21.5px;
  bottom: 21.5px;
}

.sides {
  height:100%;
  min-height:100%;
  background:#ccc;
  font-family: Arial;
  font-size: 22px;
  text-decoration: none;
  width:10%;
  float:left;
}
#n {
  float:left;
  width:80%;
  padding:10px;
}
#nw {
}
#ne {
}
#monad {
  float:left;
  overflow:auto;
  height:100%;
}
#e {
  overflow:auto;
}
#w {
  overflow:auto;
}
.noSidebar #monad{
  width:80%;
}
.noSidebar #w, .noSidebar #e{
  width:10%;
}
.leftSidebar #w{
  width:40%;
}
.leftSidebar #monad, .rightSidebar #monad{
  width:50%;
}
.rightSidebar #e{
  width:40%;
}
#s {
  float:left;
  width:80%;
  height:65px;
}
#se {
}
#sw {
}
