$space=65px;
$light=#eee;
$medium=#ccc;
$dark=#aaa;
$fontSize= 22px;
$sidePad = $space - $fontSize;
.navSpace{
    height:48%;
}
.sides p{
    position:relative;
    text-align:center;
    top:$sidePad / 2;
    bottom:$sidePad / 2;
}
.sides{
    position:absolute;
  font-family: Arial;
    font-size:$fontSize;
  text-decoration: none;
}

#monad {
    position:absolute;
    top:$space;
    left:$space;
    bottom:$space;
    right:$space;
}

#n {
    top:$space / 4;
    height:$space;
    left:$space;
    right:$space;
}
#nw {
    left:0px;
    width:$space;
    top:0px;
    height:$space;
}

#ne {
    right:0px;
    width:$space;
    top:0px;
    height:$space;
}

#e {
    cursor:pointer;
    right:0px;
    top:$space;
    bottom:$space;
    width:$space;
}
#se {
    right:0px;
    width:$space;
    bottom:0px;
    height:$space;
}
#w {
    cursor:pointer;
    left:0px;
    width:$space;
    top:$space;
    bottom:$space;
}
#sw {
    left:0px;
    width:$space;
    bottom:0px;
    height:$space;
}
#s {
    border-radius:15px;
    bottom:$space - $space * 2;
    height:$space * 2;
    left:$space;
    right:$space;
    background-image: -webkit-gradient(linear, 0 100%, 0 0, from($medium), to($light));
    background-image: -webkit-linear-gradient(bottom, $medium, $light);
    background-image: -moz-linear-gradient(bottom, $medium, $light);
    background-image: -o-linear-gradient(bottom, $medium, $light);
    background-image: linear-gradient(bottom, $medium, $light);
}
