body{
  font-family:'Open Sans',arial,sans-serif;
  font-weight: 300;
}
.profileImg{
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin:15px;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700');
html, body {
   height: 100%;
   font-family:'Open Sans',arial,sans-serif;
}
a {
  color:#222222;
}
#main {
    background-color:#fefefe;
}
#main .img-circle {
  margin-top:18px;
  height:70px;
  width:70px;
}
#sidebar, #sidebar a {
    color:#ffffff;
    background-color:transparent;
	text-shadow:1px 0 1px #888888;
}
#sidebar a.logo {
  display:block;
  height:40px;
  width:40px;
  margin:15px;
  text-align:center;
  text-decoration:none;
}
#sidebar-footer {
  position:absolute;bottom:5px;
}
#footer {
  margin-bottom:20px;
}
@media (max-width: 768px) {

}
h1,h2,h3 {
   font-weight:300;
   font-family:'Open Sans',arial,sans-serif;
}
.col-sm-9.full {
    width: 100%;
}
small.text-muted {
  font-family:courier,courier-new,monospace;
}
#profileImg h4{
  display:inline;
}