<div class="container">
	<div class="row">
		<div class="col-md-12"><h1>practices</h1></div>
	</div>
</div>
<div ng-controller="practiceForm as ctrl">
	<h2>Create New Form</h2>
	<form class="form-inline">
		<div class="form-group">
			<label for="formTitle">Form Title</label>
			<input type="text" class="form-control" id="formTitle" ng-model="ctrl.formTitle" placeholder="Enter Title">
		</div>
		<button type="submit" class="btn btn-primary" ng-click="ctrl.saveData(ctrl.formTitle)">Submit</button>
	</form>
</div>
